<template>
    <div>
        full name : {{ fullname }}<br/>
        age   :{{ age }} <br/>
        gender : {{ gender }}<br/>
        languages : {{ languages }}
    </div>
</template>
<script>

export default {
    props:['fullname','age','gender','languages']
}
</script>