<template>
    <div>
        <h5>Question 1</h5>
       original price :{{ originalPrice }}
       discount(in %) :       {{ discount }}
       Sales Price : {{ originalPrice -(originalPrice*discount)/100}}
    </div>
</template>
<script>
export default {
    data(){
        return{
            originalPrice:1000,
            discount:10
              
        }
    }
}
</script>

