<template>
    <div>
        <h5>Question 7</h5>
        <div class="form-container">
            <form >
                <label for="fullName">Full Name: </label>
                <input type="text" id="fullName" placeholder="enter your full name" v-model="User.fullname"/><br/><br/>
                <label for="age">Age: </label>
                <input type="text" id="age" placeholder="enter your age" v-model.number="User.age"/><br/><br/>
                <label for="gender">Gender: </label>
                <input type="radio" value="Male" name="gender" v-model="User.gender"/>Male
                <input type="radio" value="Female" name="gender" v-model="User.gender"/>Female <br/><br/>
                <label>Programming languages:</label><br/><br/>
                <input type="checkbox" id="vuejs" value="vuejs" v-model="User.languages"> Vuejs
                <input type="checkbox" id="c#" value="c#" v-model="User.languages"> C#
                <input type="checkbox" id="angular" value="angular" v-model="User.languages">Angular<br/><br/>
                <select v-model="User.expirence" v-if="User.age>22 && User.languages.includes('vuejs')">
                    <option disabled value="">Please select expirence </option>
                    <option>1 year</option>
                    <option>2 years</option>
                    <option>3 years</option>
                    <option>4 years</option>
                    <option>And above</option>
                </select><br/><br/>
                <button type="submit" @click.prevent="submitUser()">Submit</button>
            </form>
            
        </div>
        <div v-if="submitData">
           {{ User }}
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            submitData:false,
            User:{
                fullname:"",
                age:'',
                gender:"",
                languages:[],
                expirence:''
            }
        }
    },
    methods:{
        submitUser(){
            this.submitData=true,
            this.$router.push(
                {
                    name: 'DisplayUser',
                    params: {
                            fullname:this.User.fullname,
                            age:this.User.age,
                            gender:this.User.gender,
                            languages:this.User.languages
                      
                        }
                });
        }
    }
}
</script>

