<template>
    <div id="parent">
        <h5>Question 4</h5>
        <child2 >
            <h1 slot="header" class="header">im header</h1>
            <div slot="body" class="body">
                <p>im body</p>
            </div>
        </child2>
    </div>
</template>
<script>
import Child2 from '../components/Child2'
export default {
    components:{
        Child2
    }
}
</script>
