<template>

    <div>
        <h5>Question 3</h5>
        
        
    </div>
</template>

<script>
export default {
    beforeCreate(){
        console.warn("im being created");
    },
    created(){
        console.warn("iam created");
    },
    beforeMount(){
        console.warn("I am about to be introduced to the DOM");
    },
    mounted(){
        console.warn("im in dom");
    },
    destroyed(){
        console.warn("I am destroyed");
    }


}
</script>