<template>
    <div><span :class="{ 'top-most-item': index == 0 }">{{ myItem }}</span></div>
</template>
<script>
export default {
    props: ['index','item'],
    data: function() {
        return {
            myItem:null
        
        }
    },
    watch:{
        item(value){
            this.myItem=value;
        }
    }

   
}
</script>
