<template>
    <div id="child2">
       <slot name="header"></slot>
       <slot name="body"></slot>
    </div>
</template>
<style>
.header {
    margin:20px;
    background: beige;
    min-height: 50px;
}
.body{
    margin:20px;
    background: lightblue;
    min-height: 50px;
}
</style>

